{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link">

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
              {% if message.user_id !=  user_id %}
                <form action='/users/{{ user.id }}' method="POST">
                  <input type="hidden" value="{{ message.id }}" name='message_id'>
                  <input type="hidden" value="{{ g.user.id }}" name='check'>
                  {% if message.is_liked_by(g.user, message) %}
                    <a><button type="submit" class="fas fa-star"></button></a>
                  {% else %}
                    <a><button type="submit" class="far fa-star"></button></a>
                  {% endif %}
                </form>
              {% endif %}
            </span>
            <p>{{ message.text }}</p>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}